* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: linear-gradient(120deg, #333, indianred);
}

img{
    width: 70px;
    height: 40px;
}


/* navBar Starting */
header {
    width: 90%;
    height: 60px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    /* border-radius: 0 0 10px 10px; */
    border-radius: 15px;
    margin: 5px auto;
}

.logo {
    width: 120px;
    margin-top: 8px;
}

.logo h4 {
    color: #fefefe;
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: #fefefe;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
    text-decoration: none;
}

nav ul li a:hover {
    background: rgba(0, 0, 0, 0.2);
}

nav ul li a.active {
    background: indianred;
  border: 0.5px solid rgba(0, 0, 0, 0.3);  
}

.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover{
    border: 1px solid black;
}

.hamburger div{
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fefefe;
}
/* navBar Ending */



.parts{
    width: 90%;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    border-radius: 20px 0px 20px 0px;
    margin: 20px auto;
    border: 1px solid whitesmoke;   
}

.parts h4 {
    color: indianred;
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid indianred;
}

.parts p {
    color: #fefefe;
    text-align: justify;
    text-indent: 25px;
    line-break: loose;
    font-size: 18px;
}


.parts button {
    margin-top: 15px;
    background-color: indianred;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid indianred;
}

.parts button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid indianred;
    transition: 2s all ease;
}

.parts button a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 600;
}




/* footer start */
.container {
    max-width: 1170px;
    margin: 10px auto;
}

.row {
    display: flex;
}

.row p {
    color: whitesmoke;
    font-size: 15px;
    text-align: left;
    margin-top: 15px;
}

#copyright{
    color: whitesmoke;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    border-top: 1.5px solid indianred;
    border-bottom: 2px solid indianred;
}

ul {
    list-style: none;
}

.footer {
    background:rgba(0, 0, 0, 0.3);
    padding: 25px 0;
    border-top: 5px solid whitesmoke;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    text-transform: capitalize;
    color: #f4f4f4;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 550;
    position: relative;
}

.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: indianred;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li {
    margin-bottom: 5px;
}

.footer-col ul li a {
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
    color: #bbb;
    transition: all .5s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
    border-left: 2px solid indianred;
}

/* Responsive CSS */
@media (max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .row {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (max-width: 615px){
    .footer-col {
        width: 100%;
    }

    .row {
        display: grid;
        grid-template-columns: auto;
    }
}
/* footer End */



@media only screen and (max-width: 1100px) {
    header {
        width: 90%;
        padding: 0 20px;
    }

    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }

    #nav_check:checked ~ nav {
        left: 0;
    }

    nav .logo {
        display: none;
    }

    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }

    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    .hamburger {
        display: block;
    }
}

